body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body.great-weather { background-color: #86c2a0; }
body.hot-weather { background-color: #e7b685; }
body.cold-weather { background-color: #afdde0; }

.root {
  position: relative;
}

.nav {
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.settings-wrap {
  margin: 0 auto;
  width: 700px;
}

.weather-wrap {
  height: 300px;
  margin: -150px 0 0 -350px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 700px;
}

.weather-wrap .current-city {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px #777;
}

.weather-wrap .current-temp {
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #777;
}

.weather-wrap .walk-status {
  font-size: 3.6em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #777;
}
