@media all and (max-width: 25em) {
  body {
    margin: 0;
    padding: 0;
  }

  .nav {
    font-size: 0.8em;
    padding: 10px;
  }

    .nav a {
      margin: 0 5px;
    }

  .settings-wrap {
    margin: 0 auto;
    width: 70%;
  }

  .weather-wrap {
    height: 300px;
    margin: 20vw auto 0 auto;
  }

    .weather-wrap .current-city {
      font-size: 5vw;
      text-shadow: 1px 1px 1px #777;
    }

    .weather-wrap .current-temp {
      font-size: 8vw;
      font-weight: bold;
      text-shadow: 1px 1px 1px #777;
    }

    .weather-wrap .walk-status {
      font-size: 7vw;
      font-weight: bold;
      text-shadow: 1px 1px 1px #777;
    }
}

@media all and (min-width: 25em) {
  body {
    margin: 0;
    padding: 0;
  }

  .nav {
    font-size: 0.8em;
    padding: 10px;
  }

    .nav a {
      margin: 0 5px;
    }

  .settings-wrap {
    margin: 0 auto;
    width: 70%;
  }

  .weather-wrap {
    height: 300px;
    margin: 20vw auto 0 auto;
  }

    .weather-wrap .current-city {
      font-size: 5vw;
      text-shadow: 1px 1px 1px #777;
    }

    .weather-wrap .current-temp {
      font-size: 8vw;
      font-weight: bold;
      text-shadow: 1px 1px 1px #777;
    }

    .weather-wrap .walk-status {
      font-size: 7vw;
      font-weight: bold;
      text-shadow: 1px 1px 1px #777;
    }
}

@media all and (min-width: 50em) {
  body {
    margin: 0;
    padding: 0;
  }

  .nav {
    font-size: 0.8em;
    padding: 10px;
  }

    .nav a {
      margin: 0 5px;
    }

  .settings-wrap {
    margin: 0 auto;
    width: 70%;
  }

  .weather-wrap {
    height: 300px;
    margin: 20vw auto 0 auto;
  }

    .weather-wrap .current-city {
      font-size: 4.5vw;
      text-shadow: 1px 1px 2px #777;
    }

    .weather-wrap .current-temp {
      font-size: 6vw;
      font-weight: bold;
      text-shadow: 1px 1px 2px #777;
    }

    .weather-wrap .walk-status {
      font-size: 6vw;
      font-weight: bold;
      text-shadow: 1px 1px 2px #777;
    }
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body.great-weather { background-color: #86c2a0; }
body.hot-weather { background-color: #e7b685; }
body.cold-weather { background-color: #afdde0; }

.root {
  position: relative;
}

.nav {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.nav a {
  color: #fff;
}

.weather-wrap {
  text-align: center;
}
